body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jsplumb-drag-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jsplumb-endpoint {
    z-index: 21;
}

.graph-canvas {
    margin-bottom: 13px;
    height: 550px;
    max-height: 700px;
    position: relative;
    width: 100%;
    border: 1px solid #CCC;
    background-color: white;
}

.graph-node {
    position: absolute;
}

.button {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
    margin: 10px auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

    .button:hover {
        background: #3cb0fd;
        text-decoration: none;
        cursor: pointer;
    }

.window {
    border: 2px solid #346789;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    height: 80px;
    min-width: 100px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
}

    .window p {
        white-space: nowrap;
        margin: 0 .5em;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.selected-node {
    border: 2px solid #c71585;
}

.selection-rect {
    border: 1px dotted #778899;
    display: none;
}
