<div id="canvas" class="graph-canvas" style="position: relative">
    <div id="rubberband" class="selection-rect"></div>
</div>
<a id="clear-button" class="button">Clear Graph</a>
<a id="add-button" class="button">Add Node</a>

<script src="~/Scripts/graph.js"></script>